<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni047A</key>
    <string>uni047A_.glif</string>
    <key>uni047C</key>
    <string>uni047C_.glif</string>
    <key>uni047E</key>
    <string>uni047E_.glif</string>
    <key>uniA64A</key>
    <string>uniA_64A_.glif</string>
    <key>uni0460</key>
    <string>uni0460.glif</string>
    <key>uni047B</key>
    <string>uni047B_.glif</string>
    <key>uni047D</key>
    <string>uni047D_.glif</string>
    <key>uni047F</key>
    <string>uni047F_.glif</string>
    <key>uniA64B</key>
    <string>uniA_64B_.glif</string>
    <key>uni0461</key>
    <string>uni0461.glif</string>
    <key>afii10017</key>
    <string>afii10017.glif</string>
    <key>afii10018</key>
    <string>afii10018.glif</string>
    <key>afii10019</key>
    <string>afii10019.glif</string>
    <key>afii10020</key>
    <string>afii10020.glif</string>
    <key>afii10021</key>
    <string>afii10021.glif</string>
    <key>afii10022</key>
    <string>afii10022.glif</string>
    <key>afii10024</key>
    <string>afii10024.glif</string>
    <key>afii10025</key>
    <string>afii10025.glif</string>
    <key>afii10026</key>
    <string>afii10026.glif</string>
    <key>afii10027</key>
    <string>afii10027.glif</string>
    <key>afii10028</key>
    <string>afii10028.glif</string>
    <key>afii10029</key>
    <string>afii10029.glif</string>
    <key>afii10030</key>
    <string>afii10030.glif</string>
    <key>afii10031</key>
    <string>afii10031.glif</string>
    <key>afii10033</key>
    <string>afii10033.glif</string>
    <key>afii10034</key>
    <string>afii10034.glif</string>
    <key>afii10035</key>
    <string>afii10035.glif</string>
    <key>afii10036</key>
    <string>afii10036.glif</string>
    <key>afii10037</key>
    <string>afii10037.glif</string>
    <key>afii10038</key>
    <string>afii10038.glif</string>
    <key>afii10039</key>
    <string>afii10039.glif</string>
    <key>afii10040</key>
    <string>afii10040.glif</string>
    <key>afii10041</key>
    <string>afii10041.glif</string>
    <key>afii10043</key>
    <string>afii10043.glif</string>
    <key>afii10044</key>
    <string>afii10044.glif</string>
    <key>afii10045</key>
    <string>afii10045.glif</string>
    <key>afii10046</key>
    <string>afii10046.glif</string>
    <key>afii10047</key>
    <string>afii10047.glif</string>
    <key>afii10048</key>
    <string>afii10048.glif</string>
    <key>uniA656</key>
    <string>uniA_656.glif</string>
    <key>afii10065</key>
    <string>afii10065.glif</string>
    <key>afii10066</key>
    <string>afii10066.glif</string>
    <key>afii10067</key>
    <string>afii10067.glif</string>
    <key>afii10068</key>
    <string>afii10068.glif</string>
    <key>afii10069</key>
    <string>afii10069.glif</string>
    <key>afii10070</key>
    <string>afii10070.glif</string>
    <key>afii10072</key>
    <string>afii10072.glif</string>
    <key>afii10073</key>
    <string>afii10073.glif</string>
    <key>afii10074</key>
    <string>afii10074.glif</string>
    <key>afii10075</key>
    <string>afii10075.glif</string>
    <key>afii10076</key>
    <string>afii10076.glif</string>
    <key>afii10077</key>
    <string>afii10077.glif</string>
    <key>afii10078</key>
    <string>afii10078.glif</string>
    <key>afii10079</key>
    <string>afii10079.glif</string>
    <key>afii10080</key>
    <string>afii10080.glif</string>
    <key>afii10081</key>
    <string>afii10081.glif</string>
    <key>afii10082</key>
    <string>afii10082.glif</string>
    <key>afii10083</key>
    <string>afii10083.glif</string>
    <key>afii10084</key>
    <string>afii10084.glif</string>
    <key>afii10085</key>
    <string>afii10085.glif</string>
    <key>afii10086</key>
    <string>afii10086.glif</string>
    <key>afii10087</key>
    <string>afii10087.glif</string>
    <key>afii10088</key>
    <string>afii10088.glif</string>
    <key>afii10089</key>
    <string>afii10089.glif</string>
    <key>afii10090</key>
    <string>afii10090.glif</string>
    <key>afii10091</key>
    <string>afii10091.glif</string>
    <key>afii10092</key>
    <string>afii10092.glif</string>
    <key>afii10093</key>
    <string>afii10093.glif</string>
    <key>afii10094</key>
    <string>afii10094.glif</string>
    <key>afii10095</key>
    <string>afii10095.glif</string>
    <key>afii10096</key>
    <string>afii10096.glif</string>
    <key>uniA657</key>
    <string>uniA_657.glif</string>
    <key>afii10042</key>
    <string>afii10042.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>afii10055</key>
    <string>afii10055.glif</string>
    <key>afii10103</key>
    <string>afii10103.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>afii61352</key>
    <string>afii61352.glif</string>
    <key>afii10101</key>
    <string>afii10101.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>afii10071</key>
    <string>afii10071.glif</string>
    <key>afii10023</key>
    <string>afii10023.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>uni0486</key>
    <string>uni0486.glif</string>
    <key>uniE002</key>
    <string>uniE_002.glif</string>
    <key>uniE004</key>
    <string>uniE_004.glif</string>
    <key>afii10032</key>
    <string>afii10032.glif</string>
    <key>afii10102</key>
    <string>afii10102.glif</string>
    <key>afii10054</key>
    <string>afii10054.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>afii10058</key>
    <string>afii10058.glif</string>
    <key>afii10106</key>
    <string>afii10106.glif</string>
    <key>afii10051</key>
    <string>afii10051.glif</string>
    <key>afii10099</key>
    <string>afii10099.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni0400</key>
    <string>uni0400.glif</string>
    <key>uni0478</key>
    <string>uni0478.glif</string>
    <key>uni0479</key>
    <string>uni0479.glif</string>
    <key>uni0450</key>
    <string>uni0450.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0457</key>
    <string>uni0457.glif</string>
    <key>uni0407</key>
    <string>uni0407.glif</string>
    <key>uni0403</key>
    <string>uni0403.glif</string>
    <key>uni0453</key>
    <string>uni0453.glif</string>
    <key>uni040C</key>
    <string>uni040C_.glif</string>
    <key>uni045C</key>
    <string>uni045C_.glif</string>
    <key>uni040D</key>
    <string>uni040D_.glif</string>
    <key>uni045D</key>
    <string>uni045D_.glif</string>
    <key>uni040E</key>
    <string>uni040E_.glif</string>
    <key>uni045E</key>
    <string>uni045E_.glif</string>
    <key>uni0408</key>
    <string>uni0408.glif</string>
    <key>uni040A</key>
    <string>uni040A_.glif</string>
    <key>uni040B</key>
    <string>uni040B_.glif</string>
    <key>uni040F</key>
    <string>uni040F_.glif</string>
    <key>uni0458</key>
    <string>uni0458.glif</string>
    <key>uni045A</key>
    <string>uni045A_.glif</string>
    <key>uni045B</key>
    <string>uni045B_.glif</string>
    <key>uni045F</key>
    <string>uni045F_.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni0311</key>
    <string>uni0311.glif</string>
    <key>uni1C82</key>
    <string>uni1C_82.glif</string>
    <key>uniE005</key>
    <string>uniE_005.glif</string>
    <key>uniA64C</key>
    <string>uniA_64C_.glif</string>
    <key>uniA64D</key>
    <string>uniA_64D_.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0466</key>
    <string>uni0466.glif</string>
    <key>uni0467</key>
    <string>uni0467.glif</string>
    <key>uni046E</key>
    <string>uni046E_.glif</string>
    <key>uni046F</key>
    <string>uni046F_.glif</string>
    <key>uni0470</key>
    <string>uni0470.glif</string>
    <key>uni0471</key>
    <string>uni0471.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni0476</key>
    <string>uni0476.glif</string>
    <key>uni0477</key>
    <string>uni0477.glif</string>
  </dict>
</plist>
